<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>全部订单</string>
		<string>待付款</string>
		<string>待收货</string>
		<string>售后订单</string>
		<string>优惠券</string>
	</array>
	<array>
		<string>拨打客服热线</string>
	</array>
</array>
</plist>
